<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hycgy.kaiblogbackend.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.hycgy.kaiblogbackend.domain.Users">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="passwordHash" column="password_hash" jdbcType="VARCHAR"/>
            <result property="bio" column="bio" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,email,
        password_hash,bio,role,
        created_at
    </sql>

    <insert id="insertUser" parameterType="com.hycgy.kaiblogbackend.domain.Users">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">userName</if>
            <if test="password"></if>
        </trim>
    </insert>
</mapper>
